<% defineMainflex(false); %>
<% defineTitle('회원 관리'); %>

<h1 class="admin-title">회원 관리</h1>
<ol class="breadcrumb mb-4">
	<li class="breadcrumb-item active">Members management</li>
</ol>

<table id="members" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>아이디</th>
            <th>레벨</th>
            <th>가입 날짜</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach((element, i) => { %>
            <tr>
                <td>
					<% if(isOwner || !element.isadmin || element.level < req.userInfo.level){ %>
						<a href="/admin/member/memberEdit/<%= element.username %>">
							<%= element.username %>
						</a>
					<% } else { %>
						<%= element.username %>
					<% } %>
				</td>
                <td>
					<%= element.level %>, <%= element.isadmin ? 'admin' : 'member' %>
				</td>
                <td>
					<%= element.joinDate %>
				</td>
            </tr>
        <% }); %>
    </tbody>
</table>

<script>
	window.addEventListener('DOMContentLoaded', () => {
		$('#members').DataTable({
			responsive: true,
			order: [[2, 'desc']],
			columnDefs: [
			    {
					target: 1,
					render: {
						display: (levelStr) => {
							let isadmin = levelStr.split(',');

							return isadmin[1] === ' admin' ? `${isadmin[0]} - 관리자` : isadmin[0];
						}
					},
				},
				{
					target: 2,
					render: {
						display: (dateNum) => {
							let date = new Date(+dateNum);

							return `${date.getFullYear()}/${date.getMonth()}/${date.getDate()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`;
						}
					},
				}
			],
		});
	});
</script>